.account-content {
   height: 85vh;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}
.create-account-button {
   font-family: 'Gochi Hand';
   color: #FFFFFF;
   text-align: center;
   text-shadow: -1px 2px 2px black, 0 1px black, 1px 0 black, 0 -1px black;
   background: linear-gradient(178.26deg, rgba(255, 255, 255, 0) 50.39%, rgba(255, 255, 255, 0.34) 114.5%), #1778BE;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 5px;
   width: 100%;
}

.create-account-error {
   margin: 0;
   color: rgb(204, 44, 44);
   font-size: 0.6em;
}

.profile-header p {
   margin: 0;
}

.create-account-header-container {
   width: 100vw;
   padding: 0;
   margin: 0;
   background: linear-gradient(177.37deg, rgba(255, 255, 255, 0) 48.81%, rgba(255, 255, 255, 0.39) 91.37%), #1778BE;
   background-blend-mode: hard-light, normal, normal;
   font-family: 'Gochi Hand';
   overflow: hidden;
   text-align: center;
   transition-duration: 0.4s;
   transition-property: transform;
}

.create-account-header-container a {
   text-decoration: none;
}

.create-account-header-container:hover,
.create-account-header-container:focus {
   transform: translateY(-1px);
   -webkit-transform: scale(1.02);
   -moz-transform: scale(1.02);
   transform: scale(1.02);
}

.create-account-input-padding {
   text-align: center; 
   font-family: Roboto; 
   height: 14%;
}

.create-account-input-padding label {
   font-weight: bold;
   color: grey;
   margin: 0;
   font-size: 0.8em;
   transform: translateY(5px);
}

label.field-active {
   transform: translateY(-14px);
   color: grey;
}


.create-account-user-input {
   font-size: 0.8em;
   padding: 0;
   background: none;
   border: none;
   border-bottom: 1px solid #ffe34c;
   color: black;
   background-color: #FFFBE2;
   -webkit-appearance: none !important;
   width: 100%;
}

.create-account-user-input:focus {
   border-bottom: 2px solid #ffe34c;
}

.create-account-header {
   font-size: 25px;
}

.create-account-header-worm {
   width: 15%;
   margin: 0.5em;
}

.create-account-return {
   height: 20px;
   width: 25px;
}

.create-return span {
   margin: 0;
   font-size: 15px;
   text-shadow: none;
}

.account-header p {
   margin: 0;
}

.create-return {
   flex-direction: column
}

.create-account-navbar-text {
   color: #FFFFFF;
   text-shadow: -1px 2px 2px black, 0 1px black, 1px 0 black, 0 -1px black;
   font-size: 1.5em;
}

.account-confirm {
   text-align: center;
}

.account-form {
   height: 85%;
   font-size: 1em;
   justify-content: center;
}

/****** MEDIA QUERIES *******/

@media (min-width: 321px) {

.create-account-navbar-text {
   font-size: 20px;
}

.create-account-header-worm {
   width: 13%;
   margin: 0.5em;
}

.create-account-header {
   font-size: 24px;
}

.create-account-input-padding label {
   font-size: 14px;
}

label.field-active {
   transform: translateY(-18px);
   color: grey;
}

.create-account-user-input {
   font-size: 16px;
}

.create-account-error {
   font-size: 13px;
}  

.create-account-return {
   height: 25px;
   width: 30px;
}

.create-return span {
   margin: 0;
   font-size: 20px;
   text-shadow: none;
}   

.create-account-button {
   font-size: 24px;
}


}

@media (min-width: 576px) {

.create-account-navbar-text {
   font-size: 30px;
}

.create-account-header {
   font-size: 35px;
}

.create-account-input-padding label {
   font-size: 20px;
}

label.field-active {
   transform: translateY(-25px);
   color: grey;
}

.create-account-user-input {
   font-size: 24px;
}

.create-account-error {
   font-size: 16px;
}  

.create-account-header-worm {
   width: 12%;
   margin: 0.5em;
}

.create-account-return {
   height: 25px;
   width: 30px;
}

.create-return span {
   margin: 0;
   font-size: 25px;
   text-shadow: none;
}   

.create-account-button {
   font-size: 24px;
}

}

@media (min-width: 768px) {

.create-account-navbar-text {
   font-size: 40px;
}
   
.create-account-header {
   font-size: 45px;
}

.create-account-input-padding label {
   font-size: 26px;
}

label.field-active {
   transform: translateY(-40px);
   color: grey;
}

.create-account-user-input {
   font-size: 30px;
}

.create-account-error {
   font-size: 22px;
}  

.create-account-header-worm {
   width: 11%;
   margin: 0.5em;
}

.create-account-return {
   height: 35px;
   width: 50px
}

.create-return span {
   margin: 0;
   font-size: 30px;
   text-shadow: none;
}   

.create-account-button {
   font-size: 35px;
}

}
@media (min-width: 992px) {

.create-account-navbar-text {
   font-size: 50px;
}

.create-account-header {
   font-size: 55px;
}

.create-account-input-padding label {
   font-size: 30px;
}

label.field-active {
   transform: translateY(-40px);
   color: grey;
}

.create-account-user-input {
   font-size: 35px;
}

.create-account-error {
   font-size: 22px;
}  

.create-account-header-worm {
   width: 10%;
   margin: 1.5em;
}

.create-account-return {
   height: 45px;
   width: 60px
}

.create-return span {
   margin: 0;
   font-size: 40px;
   text-shadow: none;
}   

.create-account-button {
   font-size: 45px;
}

}


@media (min-width: 1200px) {

.create-account-navbar-text {
   font-size: 60px;
}

.create-account-header {
   font-size: 65px;
}

.create-account-input-padding label {
   font-size: 30px;
}

label.field-active {
   transform: translateY(-40px);
   color: grey;
}

.create-account-user-input {
   font-size: 35px;
}

.create-account-error {
   font-size: 22px;
}  

.create-account-header-worm {
   width: 10%;
   margin: 1.5em;
}

.create-account-return {
   height: 50px;
   width: 65px
}

.create-return span {
   margin: 0;
   font-size: 45px;
   text-shadow: none;
}   

.create-account-button {
   font-size: 50px;
}
   
}

@media (min-width: 300px) and (max-width: 575.98px) and (orientation: landscape) {

.account-content {
   height: 100%;
}

.create-account-navbar-text {
   font-size: 26px;
}

.create-account-header {
   font-size: 30px;
}

.account-form {
   padding-top: 5vh;
}

.create-account-input-padding {
   height: 55px;
}

.create-account-input-padding label {
   font-size: 16px;
   transform: translateY(8px);
}

label.field-active {
   transform: translateY(-18px);
   color: grey;
}

.create-account-user-input {
   font-size: 20px;
}

.create-account-error {
   font-size: 13px;
}

.account-header p {
   margin: 0;
}

.create-account-header-worm {
   width: 10%;
   margin: 0.5em;
}
  
.create-account-return {
   height: 25px;
   width: 30px;
}

.create-return span {
   margin: 0;
   font-size: 20px;
   text-shadow: none;
}

.create-account-button {
   font-size: 24px;
   margin-bottom: 2%;
}

}

@media (min-width: 576px) and (max-width: 768.98px) and (orientation: landscape) {

.account-content {
   height: 100%;
}

.create-account-navbar-text {
   font-size: 30px;
}

.create-account-header {
   font-size: 35px;
}

.account-form {
   padding-top: 5vh;
}

.create-account-input-padding {
   height: 75px;
}

.create-account-input-padding label {
   font-size: 16px;
   transform: translateY(8px);
}

label.field-active {
   transform: translateY(-26px);
   color: grey;
}

.create-account-user-input {
   font-size: 20px;
}

.create-account-error {
   font-size: 13px;
}

.account-header p {
   margin: 0;
}

.create-account-header-worm {
   width: 10%;
   margin: 0.5em;
}
   
.create-account-return {
   height: 25px;
   width: 30px;
}

.create-return span {
   margin: 0;
   font-size: 20px;
   text-shadow: none;
}

.create-account-button {
   font-size: 30px;
   margin-bottom: 5%;
}


}

@media (min-width: 769px) and (max-width: 1366.98px) and (orientation: landscape) {
   
.account-content {
   height: 100%;
}

.create-account-navbar-text {
   font-size: 45px;
}

.create-account-header {
   font-size: 50px;
}

.account-form {
   padding-top: 5vh;
}

.create-account-input-padding {
   height: 100px;
}

.create-account-input-padding label {
   font-size: 22px;
   transform: translateY(8px);
}

label.field-active {
   transform: translateY(-30px);
   color: grey;
}

.create-account-user-input {
   font-size: 26px;
}

.create-account-error {
   font-size: 15px;
}

.account-header p {
   margin: 0;
}

.create-account-header-worm {
   width: 9%;
   margin: 0.5em;
}
   
.create-account-return {
   height: 35px;
   width: 50px;
}

.create-return span {
   margin: 0;
   font-size: 30px;
   text-shadow: none;
}

.create-account-button {
   font-size: 30px;
   margin-bottom: 5%;
}

}

@media (min-width: 1367px) and (orientation: landscape) {
   
   .account-content {
      height: 100%;
   }
   
   .create-account-navbar-text {
      font-size: 50px;
   }
   
   .create-account-header {
      font-size: 45px;
   }
   
   .account-form {
      padding-top: 5vh;
   }
   
   .create-account-input-padding {
      height: 100px;
   }
   
   .create-account-input-padding label {
      font-size: 28px;
      transform: translateY(0px);
   }
   
   label.field-active {
      transform: translateY(-36px);
      color: grey;
   }
   
   .create-account-user-input {
      font-size: 32px;
   }
   
   .create-account-error {
      font-size: 18px;
   }
   
   .account-header p {
      margin: 0;
   }
   
   .create-account-header-worm {
      width: 8%;
      margin: 0.5em;
   }
      
   .create-account-return {
      height: 35px;
      width: 50px;
   }
   
   .create-return span {
      margin: 0;
      font-size: 30px;
      text-shadow: none;
   }
   
   .create-account-button {
      font-size: 40px;
      margin-bottom: 5%;
   }

}
