.account-details-container {
   height: 75vh;
   justify-content: center;
   align-items: center;
   text-align: center;
   flex-direction: column;
}

.create-account-button {
   font-family: 'Gochi Hand';
   color: #FFFFFF;
   text-align: center;
   text-shadow: -1px 2px 2px black, 0 1px black, 1px 0 black, 0 -1px black;
   background: linear-gradient(178.26deg, rgba(255, 255, 255, 0) 50.39%, rgba(255, 255, 255, 0.34) 114.5%), #1778BE;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 5px;
}

.create-account-error {
      margin: 0;
      color: rgb(204, 44, 44);
      font-size: 0.6em;

}

.create-account-header {
   font-family: 'Gochi Hand';
   font-size: 1.5em;
   color: white;
   text-shadow: -1px 2px 2px black, 0 1px black, 1px 0 black, 0 -1px black;
   text-align: center;
   padding: 7px 0px  7px 0px;
}

.create-account-header-container {
   width: 100vw;
   padding: 0;
   margin: 0;
   background: linear-gradient(177.37deg, rgba(255, 255, 255, 0) 48.81%, rgba(255, 255, 255, 0.39) 91.37%), #1778BE;
   background-blend-mode: hard-light, normal, normal;
   font-family: 'Gochi Hand';
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}

.create-account-input-padding {
   height: 15%;
   flex: 0 0 100%;
   max-width: 100%;
}

.create-account-user-input {
   padding: 0;
   background: none;
   border: none;
   border-bottom: 1px solid black;
   color: black;
   -webkit-appearance: none !important;
   width: 66.666667%;
}

.create-account-header-worm {
   width: 15%;
   margin: 0.5em;
}

.create-account-navbar-text {
   color: #FFFFFF;
   text-shadow: -1px 2px 2px black, 0 1px black, 1px 0 black, 0 -1px black;
   font-size: 1.5em;
}

label.field-active {
   transform: translateY(-15px);
   font-size: 0.7em;
}

/****** MEDIA QUERIES *******/
@media (max-width: 359.98px ) {


}


@media (min-width: 360px) {

   .account-details-container {
      height: 75vh;
      padding-top: 3%

   }

   .create-account-button {
      font-size: 1.25em;
      width: 50%;
   }
   

   .create-account-header {
      padding-top: 5%;
   }

   label.field-active {
      transform: translateY(-20px);
      font-size: 1em;
   }



}

@media (min-width: 576px) {

   .account-details-container {
      height: 75vh;
      padding-top: 5%

   }

   .create-account-header {
      padding-top: 5%;
      font-size: 2.5em;
   }

   .create-account-button {
      font-size: 1.8em;
      width: 40%;
   }

   .create-account-header-worm {
      width: 10%;
      margin: 0.5em;
   }
   
   .create-account-navbar-text {
      font-size: 3em;
   }

   label.field-active {
      transform: translateY(-30px);
      font-size: 1.75em;
   }

   .create-account-input-padding label {
      font-size: 1.75em;
   }

   .create-account-input-padding {
      height: 15%;
      flex: 0 0 100%;
      max-width: 100%;
   }

   .create-account-user-input {
      margin-top: 15px;
      font-size: 1.75em;
   }

}

@media (min-width: 768px) {

   .create-account-header {
      padding-top: 5%;
      font-size: 2.5em;
   }

   .create-account-button {
      font-size: 1.8em;
      width: 40%;
   }

   .create-account-header-worm {
      width: 10%;
      margin: 0.5em;
   }
   
   .create-account-navbar-text {
      font-size: 3em;
   }

   label.field-active {
      transform: translateY(-30px);
      font-size: 1.75em;

   }

   .create-account-input-padding label {
      font-size: 1.75em;
   }

   .create-account-user-input {
      margin-top: 15px;
      font-size: 1.75em;
   }

   .create-account-error {
      font-size: 1.2em;

}


}

@media (min-width: 992px) {

   .create-account-header {
      padding-top: 5%;
      font-size: 2.5em;
   }

   .create-account-button {
      font-size: 1.8em;
      width: 35%;
   }

   .create-account-header-worm {
      width: 10%;
      margin: 0.5em;
   }
   
   .create-account-navbar-text {
      font-size: 3em;
   }

   .create-account-error {
      font-size: 1.4m;

   }

}

@media (min-width: 1200px) {


}

@media (min-width: 300px) and (max-width: 750px) and (orientation: landscape) {
   
   .create-account-header {
      padding-top: 1%;
      font-size: 1.5em;
   }

   .account-details-container {
      padding-top: 0;

   }

   .create-account-input-padding {
      height: 25%;
      flex: 0 0 100%;
      max-width: 100%;
   }

   .create-account-header-worm {
      width: 5%;
      margin: 0.5em;
   }

   .create-account-button {
      font-size: 1em;
      width: 30%;
      margin-bottom: 10px;
   }
   
   .create-account-input-padding label {
      font-size: 0.75em;
   }

   label.field-active {
      transform: translateY(-10px);

   }

   .create-account-user-input {
      font-size: 1em;
   }

   .create-account-error {
      font-size: 0.75em;

   }

}

@media (min-width: 751px) and (max-width: 1023.9px) and (orientation: landscape) {

   
   .create-account-header {
      padding-top: 1%;
      font-size: 1.5em;
   }

   .account-details-container {
      padding-top: 0;

   }

   .create-account-input-padding {
      height: 25%;
      flex: 0 0 100%;
      max-width: 100%;
   }

   .create-account-header-worm {
      width: 5%;
      margin: 0.5em;
   }

   .create-account-button {
      font-size: 1.3em;
      width: 30%;
      margin-bottom: 10px;
   }
   
   .create-account-input-padding label {
      font-size: 1em;
   }

   label.field-active {
      transform: translateY(-15px);

   }

   .create-account-user-input {
      font-size: 1.5em;
   }

   .create-account-error {
      font-size: 1em;

   }

}

@media (min-width: 1024px) and (orientation: landscape) {
   
   .create-account-header {
      padding-top: 1%;
      font-size: 2em;
   }

   .account-details-container {
      padding-top: 0;

   }

   .create-account-input-padding {
      height: 15%;
      flex: 0 0 100%;
      max-width: 100%;
   }

   .create-account-header-worm {
      width: 7%;
      margin: 0.5em;
   }

   .create-account-button {
      font-size: 1.5em;
      width: 30%;
      margin-bottom: 10px;
   }
   
   .create-account-input-padding label {
      font-size: 1.25em;
   }

   label.field-active {
      transform: translateY(-30px);

   }

   .create-account-user-input {
      font-size: 1.25em;
   }

   .create-account-error {
      font-size: 1.2em;

   }

}

@media (min-width: 1366px) and (orientation: landscape) {
   
   .create-account-header {
      padding-top: 1%;
      font-size: 2em;
   }

   .account-details-container {
      padding-top: 0;

   }

   .create-account-input-padding {
      height: 15%;
      flex: 0 0 100%;
      max-width: 100%;
   }

   .create-account-header-worm {
      width: 5%;
      margin: 0.5em;
   }

   .create-account-button {
      font-size: 1.5em;
      width: 30%;
      margin-bottom: 10px;
   }
   
   .create-account-input-padding label {
      font-size: 1.25em;
   }

   label.field-active {
      transform: translateY(-30px);

   }

   .create-account-user-input {
      font-size: 1.25em;
   }

   .create-account-error {
      font-size: 1.2em;

   }
}
