.home-add-button {
   margin-right: 11px;
   background: #1778BE;
   border: 3px solid #FFFFFF;
   color: white;
   border-radius: 50%;
   width: 65px;
   height: 64px;
   text-align: center;
   line-height: 1.75;
}

.home-add-button-container {
   display: flex;
   justify-content: flex-end;
}

.home-active-tab {
   background: #308ED2;
   display: inline-block;
   color: white;
   width: 187.5px;
   height: 58.14px;
   text-align: center;
   font-size: 2em;
}

.home-container {
   height: 91.5vh;
}

.home-not-active-tab {
   background: linear-gradient(178.14deg, rgba(255, 255, 255, 0) 45.77%, rgba(255, 255, 255, 0.34) 103.91%), #6FB8ED;
   color: #1778BE;
   display: inline-block;
   width: 187.5px;
   height: 58.14px;
   text-align: center;
   font-size: 2em;
}

.home-groups-header {
   display: flex;
   justify-content: space-around;

}

.home-header-container {
   height: 4%;
}

.home-groups {
   display: flex;
   justify-content: space-around;
}

.home-groups-container {
   height: 74%;
   margin: 0 2% 0 2%;
}


.home-group-details {
   display: inline-block;
   text-align: center
}

.home-group-subject {
   width: 25%;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.home-group-name {
   width: 22%;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.home-group-date {
   width: 16%;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.home-group-time {
   width: 21%;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.home-group-size {
   width: 15%;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.home-single-group {
   border: 1px solid #1778BE;
   border-radius: 10px 10px 10px 10px;
   padding: 1% 0;
   margin-bottom: 2%;
}

.home-single-group:hover {
   background-color: #1778BE;
}

.home-single-group a {
   color: black;
   display: flex;
   align-items: center;
}

.home-single-group:hover a {
   color: white;
   text-decoration: none;
}