.create-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.create-content .create-header {
    margin-top: 2%;
}

.create-header {
    width: 100%;
    margin: 0;
    font-family: 'Gochi Hand';
    font-size: 1.2em;
    font-weight: bolder;
    color: #ffe34c;
    text-shadow: -1px 2px 2px black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
}

.create-header a {
    text-decoration: none;
    color: #086DB7;
    transition-duration: 0.3s;
    transition-property: transform;
}

.create-header a:hover,
.create-header a:focus {
    color: #1778BE;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}

.create-title {
    font-size: 25px;
    height: 100%;
    margin: 0;
    color: #ffe34c;
}

.create-return {
    margin-top: 10px;
    background: none;
    display: flex;
    color: #1778BE;
    text-decoration: none;
    align-items: center;
    flex-direction: column;
}

.create-form {
    font-size: 1em;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
     justify-content: space-between;
}

.create-form .row {
    height: 15vh;
    
}

.create-groupName, .create-subject, .create-course, .create-groupSize,
.create-startTime, .create-endTime, .create-date, .create-location, .create-description {
    height: 15%;
    font-family: Roboto;
    font-size: 1em;
    margin: 0;
    padding: 5px 0;
}

.create-form label {
    font-weight: bold;
    font-size: 0.75em;
    margin: 0;
    color: grey;
    transform: translateY(-18px);
}

.create-form input {
    font-size: 1em;
    width: 100%;
    color: black;
    background: #FFFBE2;
    border: none; 
    border-bottom: 1px solid #ffe34c;
}

.create-form input:focus {
    border-bottom: 2px solid #ffe34c;
 }

.create-form textarea {
    width: 100%;
    color: black;
    background: #FFFBE2;
    border: 1px solid #ffe34c;
}

.create-form textarea:focus {
    border: 2px solid #ffe34c;
    outline: none;
 }

.create-form p {
    height: 10px;
    margin: 0;
    font-size: 0.75em;
    color: rgb(204, 44, 44);
}

.create-update-button {
    font-family: 'Gochi Hand';
    color: #FFFFFF;
    text-align: center;
    text-shadow: -1px 2px 2px black, 0 1px black, 1px 0 black, 0 -1px black;
    background: linear-gradient(178.26deg, rgba(255, 255, 255, 0) 50.39%, rgba(255, 255, 255, 0.34) 114.5%), #1778BE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    transition-property: transform;
    padding: 0;
}

.create-update-button:hover {
    box-shadow: 1px 2px 3px grey;
    transform: translateY(-2px);
}


@media (min-width: 321px) {


.create-title {
    margin: 0;
    font-size: 30px;
}

.create-form .row {
    height: 80px;
}

.create-form input {
    font-size: 20px;
}

.create-form label {
    font-size: 16px;
    transform: translateY(-22px);
}

.create-update-button {
    font-size: 24px;
}

}

@media (min-width: 576px){

.create-title {
    font-size: 35px;
}

.create-form .row {
    height: 100px;
}

.create-form input {
    font-size: 22px;
}

.create-form label {
    font-size: 18px;
    transform: translateY(-24px);
}

.create-update-button {
    font-size: 30px;
}

}

@media (min-width: 768px) {

.create-title {
    font-size: 45px;
}

.create-form .row {
    height: 120px;
    }

.create-form label {
    font-size: 25px;
    transform: translateY(-35px);
}

.create-form input {
    font-size: 30px;
}

textarea {
    font-size: 30px;
}

.create-form p {
    font-size: 18px;
}

.create-return {
    font-size: 1.5em;
}

.create-update-button {
    font-size: 35px;
}

.create-button div {
    text-align: center;
}

}

@media (min-width: 992px) {

.create-title {
    font-size: 55px;
}

.create-form .row {
    height: 140px;
}

.create-form label {
    font-size: 30px;
    transform: translateY(-40px);
}

.create-form input {
    font-size: 35px;
}

textarea {
    font-size: 35px;
}

.create-form p {
    font-size: 22px;
}

.create-update-button {
    font-size: 45px;
}

}

@media (min-width: 1200px) {

.create-title {
    font-size: 60px;
}

.create-form .row {
    height: 150px;
}

.create-form label {
    font-size: 33px;
    transform: translateY(-45px);
}

.create-form input {
    font-size: 40px;
}

textarea {
    font-size: 40px;
}

.create-form p {
    font-size: 22px;
}

.create-update-button {
    font-size: 50px;
}

}

@media (min-width: 300px) and (max-width: 575.98px) and (orientation: landscape) {

.create-title {
    font-size: 30px;
}

.create-form .row {
    height: 80px;
}

.create-form label {
    font-size: 16x;
    transform: translateY(-24px);
}

.create-form input {
    font-size: 20px;
}

textarea {
    font-size: 20px;
}


.create-update-button {
    font-size: 24px;
}

}

@media (min-width: 576px) and (max-width: 768.98px) and (orientation: landscape) {

.create-title {
    font-size: 35px;
}

.create-form .row {
    height: 90px;
}

.create-form label {
    font-size: 20x;
    transform: translateY(-26px);
}

.create-form input {
    font-size: 22px;
}

textarea {
    font-size: 22px;
}


.create-update-button {
    font-size: 30px;
}

}

@media (min-width: 769px) and (max-width: 1366.98px) and (orientation: landscape) {

.create-form {
    margin-top: 8%;
}

.create-title {
    font-size: 40px;
}

.create-form .row {
    height: 110px;
}

.create-form label {
    font-size: 22px;
    transform: translateY(-30px);
}

.create-form input {
    font-size: 26px;
}

textarea {
    font-size: 26px;
}


.create-update-button {
    font-size: 30px;
}

}

@media (min-width: 1367px) and (orientation: landscape) {

.create-form {
    margin-top: 5%;
}

.create-title {
    font-size: 45px;
}

.create-form .row {
    height: 130px;
}

.create-form label {
    font-size: 24px;
    transform: translateY(-30px);
}

.create-form input {
    font-size: 30px;
}

textarea {
    font-size: 30px;
}


.create-update-button {
    font-size: 35px;
}
}