.create-content {
   height: 88vh;
}

.create-header {
   font-family: 'Gochi Hand';
   font-size: 1.2em;
   color: white;
   text-shadow: -1px 2px 2px black, 0 1px black, 1px 0 black, 0 -1px black;
   text-align: center;
   font-size: 25px;
}

.create-title {
   height: 10%;
   margin: 0;
}

.create-return {
   background: none;
   display: flex;
   color: white;
}

.create-form {
   height: 90%;
   width: 100%;
   font-size: 1em;
   /* margin-top: 8%; */
}

.create-form .row {
   height: 14%;
}

.create-groupName, .create-subject, .create-course, .create-groupSize,
.create-startTime, .create-endTime, .create-date, .create-location, .create-description {
   height: 15%;
   font-family: Roboto;
   font-size: 1em;
   margin: 0;
   padding: 5px 0;
}

.create-form label {
   font-weight: bold;
   font-size: 0.75em;
   margin: 0;
}

.create-form input {
   font-size: 0.75em;
   width: 100%;
   color: black;
   border: none;
   border-bottom: 1px solid grey;
}

.create-form textarea {
   width: 100%;
   color: black;

   border-bottom: 1px solid grey;
}

.create-form p {
   height: 10px;
   margin: 0;
   /* padding-top: 10px; */
   font-size: 0.75em;
   color: rgb(204, 44, 44);
}

.create-update-button {
   font-family: 'Gochi Hand';
   color: #FFFFFF;
   text-align: center;
   text-shadow: -1px 2px 2px black, 0 1px black, 1px 0 black, 0 -1px black;
   background: linear-gradient(178.26deg, rgba(255, 255, 255, 0) 50.39%, rgba(255, 255, 255, 0.34) 114.5%), #1778BE;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 5px;
   width: 100%;
   text-align: center;
   font-size: 1.5em;
   transition-property: transform;
   padding: 0;
}

.create-update-button:hover {
   box-shadow: 1px 2px 3px grey;
   transform: translateY(-2px);
}

.create-form label {
   transform: translateY(-15px);
}







