.edit-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edit-content .create-header {
    margin: 2% 0 0 0;
}

.create-header {
    width: 100%;
    margin: 0;
    font-family: 'Gochi Hand';
    font-size: 1.2em;
    font-weight: bolder;
    color: #1778F7;
    text-shadow: -1px 2px 2px black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
}

.create-header a {
    text-decoration: none;
    color: #1778BE;
    transition-duration: 0.3s;
    transition-property: transform;
}

.create-header a:hover,
.create-header a:focus {
    color: red;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}

.edit-title {
    height: 10%;
    margin: 0;
}

.edit-return {
    background: none;
    display: flex;
    color: #1778BE;
    text-decoration: none;
}

.edit-form {
    height: 90%;
    width: 100%;
    min-width: 70%;
    font-size: 1em;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
     justify-content: space-between;
}

.edit-form .row {
    height: 15vh;
    align-items: center;
}

.edit-form .edit-button {
    margin-top: 15%;
    height: 10%;
}

.edit-groupName, .edit-subject, .edit-course, .edit-groupSize,
.edit-startTime, .edit-endTime, .edit-date, .edit-location, .edit-description {
    height: 15%;
    font-family: Roboto;
    font-size: 1em;
    margin: 0;
    padding: 5px 0;
}

.edit-update-button {
    margin: 10% 0;
}

.edit-form label {
    font-weight: bold;
    font-size: 0.75em;
    margin: 0;
    color: grey;
    transform: translateY(-14px);
}

.edit-form input {
    font-size: 0.75em;
    width: 100%;
    color: black;
    background-color: #E8F4FF;
    border: none;
    border-bottom: 1px solid grey;
}

.edit-form textarea {
    width: 100%;
    color: black;
    border-bottom: 1px solid grey;
}

.edit-form p {
    height: 10px;
    margin: 0;
    font-size: 0.75em;
    color: rgb(204, 44, 44);
}

.edit-update-button {
    font-family: 'Gochi Hand';
    color: #FFFFFF;
    text-align: center;
    text-shadow: -1px 2px 2px black, 0 1px black, 1px 0 black, 0 -1px black;
    background: linear-gradient(178.26deg, rgba(255, 255, 255, 0) 50.39%, rgba(255, 255, 255, 0.34) 114.5%), #1778BE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    transition-property: transform;
    padding: 0;
}

.edit-update-button:hover {
    box-shadow: 1px 2px 3px grey;
    transform: translateY(-2px);
}


@media (min-width: 321px) {
   
.edit-title {
    height: 15%;
    margin: 0;
    font-size: 1.5em;
}

.edit-form {
    margin-top: 0;
    /* max-width: 450px; */
}

.edit-form .row {
    height: 14vh;
}

.edit-form input {
    font-size: 1em;
    width: 100%;
    color: black;
    border: none;
    border-bottom: 1px solid grey;
    background: none;
}

.edit-form label {
    font-weight: bold;
    font-size: 0.75em;
    margin: 0;
    color: grey;
    /* transform: translateY(-18px); */
}

.edit-form .edit-button {
    margin: 8% 0 0 0;
}


.edit-return{
    font-size: 1.2em;
}

}

@media (min-width: 576px){

.edit-title {
    height: 15%;
    margin: 0.3em;
    font-size: 1.5em;
}

.edit-form input {
    font-size: 1.25em;
    width: 100%;
    color: black;
    border: none;
    border-bottom: 1px solid grey;
    background: none;
}

.edit-form {
    margin-top: 0;
    /* min-width: 475px; */
}

.edit-form .row {
    height: 12vh;
    }

.edit-form label {
    font-weight: bold;
    font-size: 1em;
    margin: 0;
    color: grey;
    transform: translateY(-20px);
}

.edit-form .edit-button {
    margin: 3% 0;
    align-items: center;
}

.edit-return {
    font-size: 1.5em;
}

}

@media (min-width: 768px) {

.edit-title {
    font-size:0;
}
   
.edit-content .create-header {
    height: 65px;
}

.edit-form {
    margin-top: 0;
    /* min-width: 650px;*/
} 

.edit-form .row {
    height: 10vh;
    }

.edit-form input {
    font-size: 1.5em;
    width: 100%;
    color: black;
    border: none;
    border-bottom: 1px solid grey;
    background: none;
}

.edit-form label {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0;
    color: grey;
    transform: translateY(-25px);
}

.edit-form .edit-button {
    margin: 5% 0 0 0;
    align-items: center;
}

.edit-form p {
    font-size: 1n  em;
}

.edit-return {
    font-size: 1.5em;
}

.edit-update-button {
    /* height: 60px; */
    width: 80%;
    font-size: 2em;
}

.edit-button div {
    text-align: center;
}

textarea {
    font-size: 1.5em;
}

}

@media (min-width: 992px) {

.edit-title {
    font-size:0;
}

.edit-form {
    margin-top: 0;
}

.edit-form .row {
    height: 10vh;
    }

.edit-form input {
    font-size: 1.8em;
    width: 100%;
    color: black;
    border: none;
    border-bottom: 1px solid grey;
    background: none;
}

.edit-form label {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
    color: grey;
    transform: translateY(-30px);
}

.edit-form .edit-button {
    margin: 10% 0 0 0;
    align-items: center;
}

.edit-form p {
    font-size: 1.2em;
}

.edit-return {
    font-size: 1.8em;
}

.edit-update-button {
    font-size: 2.5em;
}

textarea {
    font-size: 1.8em;
}

}

@media (min-width: 1200px) {
.edit-title {
    font-size:0;
}

.edit-content {
    height: 76vh;
}

.edit-form input {
    font-size: 1.3em;
    width: 100%;
    color: black;
    border: none;
    border-bottom: 1px solid grey;
    background: none;
}

.edit-form label {
    font-weight: bold;
    font-size: 1em;
    margin: 0;
    color: grey;
    transform: translateY(-20px);
}

.edit-form .edit-button {
    margin-top: 1.2em;
    align-items: center;
}

.edit-return {
    font-size: 1.7em;
}

.edit-update-button {
    height: 50px;
    font-size: 2em;
}

textarea {
    font-size: 1em;
}

.edit-form p {
    font-size: 0.8em;
}

}

@media (max-width: 299.98px) and (orientation: landscape) {

.edit-content {
    height: 90%;
}

.edit-title {
    height: 15%;
    margin: 0.3em;
    font-size: 1.5em;
}

.edit-form {
    margin-top: 5%;
}

.edit-form input {
    background: none;
}

.edit-form label {
    font-weight: bold;
    font-size: 1em;
    margin: 0;
    color: grey;
}

.edit-form .row {
    padding: 1em 0;
    height: 20%;
}

.edit-form>.edit-button {
    padding-top: 0;
    margin: 0;
}

}

@media (min-width: 300px) and (max-width: 750px) and (orientation: landscape) {

.edit-content {
    height: 90%;
}

.edit-form {
    margin-top: 5%;
}

.edit-title {
    height: 15%;
    margin: 0.3em;
    font-size: 1.5em;
}

.edit-form input {
    background: none;
}

.edit-form label {
    font-weight: bold;
    font-size: 1em;
    margin: 0;
    color: grey;
}

.edit-form .row {
    padding: 1em 0;
    height: 20%;
}

.edit-form>.edit-button {
    padding-top: 0;
    margin: 0;
}

}

@media (min-width: 751px) and (max-width: 1023.9px) and (orientation: landscape) {
.edit-content {
    height: 90%;
}

.edit-form {
    margin-top: 5%;
}

.edit-title {
    font-size:0;
}

.edit-form input {
    background: none;
}

.edit-form label {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
    color: grey;
}

.edit-form .row {
    padding: 1em 0;
    height: 20%;
}

.edit-form>.edit-button {
    padding-top: 0;
}

}

@media (min-width: 1024px) and (orientation: landscape) {
.edit-content {
    height: 90%;
}

.edit-form {
    margin-top: 5%;
}

.edit-title {
    font-size:0;
}

.edit-form input {
    padding-top: 0.3em;
    margin-top: 0.6em;
    background: none;
}

.edit-form .row {
    padding: 1em 0;
    height: 20%;
}

.edit-form label {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
    color: grey;
    transform: translateY(-30px);
}

.edit-form>.edit-button {
    padding-top: 0;
}

.edit-form p {
    font-size: 1em;
}

}