.basic-modal {
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
}

.basic-modal-content {
    background: linear-gradient(177.37deg, rgba(255, 255, 255, 0) 48.81%, rgba(255, 255, 255, 0.39) 91.37%), #1778BE; 
    color: white;
    font-family: "Roboto", sans-serif;
    text-shadow: -1px 1px 1px black;
    border-radius: 20px;
    margin: auto;
    padding: 25px;
    position: relative;
    width: 40%;
    z-index: 1;
    font-size: .8em;
}


.basic-modal-content h1 {
    text-shadow: -1px 2px 2px black, 0 1px black, 1px 0 black, 0 -1px black;
    border-bottom: 1px solid #dedede;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

@media only screen and (max-width: 600px) {
    .basic-modal-content h1 {
        font-size: 1.25em;
    }

    .basic-modal-content {
        font-size: .75em;
        width: 80%;
    }

    .modal-group-info p {
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 600px) {

    .basic-modal-content {
        font-size: 1em;
    }

    .modal-group-info p {
        margin-bottom: 0;
    }
}


.modal-map-button {
    border-radius: 15px;
    border-color: #FFFFFF;
    background: lightblue;
    color: #FFFFFF;
    text-shadow: -1px 2px 2px black, 0 1px black, 1px 0 black, 0 -1px black;
    right: 0;
    margin-left: 1em;
    font-family: 'Roboto', sans-serif;
    font-size: 0.75em;
    border: 0;
    padding: .5em;
}

.modal-map-button:hover {
    box-shadow: 0 0 6px white;
    color: #FFFFFF;
}

.modal-group-description-container {
    background-color: #E1E1E1;
    border-radius: 10px;
    border: 1px solid grey;
    color: black;
    text-shadow: none;
    font-size: 1.25em;
    padding: 5px;
    margin-bottom: 2%;
    overflow: scroll;
}

.group-modal-close {
    height: 30px;
    width: 30px;
    line-height: 30px;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    font-weight: bold;
    color: #dedede;
    cursor: pointer;
}

.modal-group-location {
    margin: .5em;
    display: inline-block;
}

.join-group {
    font-family: 'Gochi Hand';
    background: linear-gradient(177.37deg, rgba(255, 255, 255, 0) 48.81%, rgba(255, 255, 255, 0.39) 91.37%), #1778BE;
    font-size: 1.5em;
    width: 100%;
}

.search-filter-button {
    text-shadow: -1px 2px 2px black, 0 1px black, 1px 0 black, 0 -1px black;
    border-radius: 10px;
    background: linear-gradient(177.37deg, rgba(255, 255, 255, 0) 48.81%, rgba(255, 255, 255, 0.39) 91.37%), #1778BE; 
    font-family: 'Gochi Hand';
    font-size: 1.5em;
    color: #FFFFFF;
    border: 1px solid #1778BE;
    box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;
}



/* .group-modal-close:hover {
    color: #ff0000;
    background-color: #dedede;
} */
