body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.header-container {
    width: 100vw;
    /* height: 20vh; */
    padding: 0;
    margin: 0;
    background: linear-gradient(177.37deg, rgba(255, 255, 255, 0) 48.81%, rgba(255, 255, 255, 0.39) 91.37%), #1778BE;
    background-blend-mode: hard-light, normal, normal;
    font-family: 'Gochi Hand';
}

.burger-bar {
    padding: 5% 15%;
    width: 100%;
    height: 100%;
}

.nav-hamburger-button {
    padding-left: 0.75em;
    padding-right: 0;
}

.header-worm {
    height: 75px;
    width: 80px;
    margin: 0.2em;
}

.nav-title {
    padding: 0;
}

.navbar-text {
    color: #FFFFFF;
    text-shadow: -1px 2px 2px black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 5vw;
}

.nav-search {
    margin: 0;
    padding-right: 2.5em;
} 

.nav-links {
    text-decoration: none;
    margin: 0;
    padding: 0.5em;
}

.nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    padding: 0 0.5rem;
    font-size: 2.5vw;
}

.nav-links a {
    color: white;
    text-shadow: -1px 2px 2px black, 0 1px black, 1px 0 black, 0 -1px black;}

.nav-links a:hover {
    text-decoration: none;
}

.header-button {  
    width: 50px;
    height: 25px;
    border-radius: 15px;
    background: #0a61b8;
    color: white;
    right: 0;
    margin: 1em;
    font-family: 'Roboto';
    font-size: 0.75em;
    border: 0;
    padding: 0;  
}

.header-button:hover {
    box-shadow: 0 0 6px white
}

@media (max-width: 576px){
    .nav-links {
        display: none;
    }

    .header-signout-button { 
        display: none;
    }

    .header-worm {
        height: 40px;
        width: 45px;
    }

    .header-section {
        display: flex;
        justify-content: space-between;    
    }
    
    .search-icon {
        height: 25px;
        width: 30px;
    }
    
    .nav-title {
        display: flex;
        justify-content: center;
    }

}

@media (min-width: 576px) and (max-width: 767.98px){
    .nav-links {
        display: none;
    }

    .header-signout-button { 
        display: none;
    }

    .header-section {
        display: flex;
        justify-content: space-between;    
    }

    .header-worm {
        height: 40px;
        width: 45px;
    }

    .nav-title {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .nav-hamburger-button, .search-icon {
        display: none;
    }

    .nav-title {
        display: flex;
        justify-content: center;
    }

    .nav-search {
        display: flex;
        align-self: start;
    }

    .nav-links ul {
        display: flex;
        justify-content: space-around;
    }

    .nav-links li {
        padding: 0 0.5rem;
        font-size: 2.5vw;
    }

    .header-button {  
        width: 55px;
        height: 25px;
    }

    .header-signout-button {
        display: flex;
        justify-content: flex-end;
        align-self: end;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .nav-hamburger-button, .search-icon {
        display: none;
    }

    .nav-links ul {
        display: flex;
        justify-content: space-around;
    }

    .nav-links li {
        padding: 0 0.5rem;
        font-size: 2.5vw;
    }

    .header-button {  
        width: 60px;
        height: 25px;
    }

    .header-signout-button {
        display: flex;
        justify-content: flex-end;
        align-self: end;
    }

    .nav-title {
        display: flex;
        justify-content: center;
    }

}

@media (min-width: 1200px) {
    .nav-hamburger-button, .search-icon {
        display: none;
    }

    .nav-links ul {
        display: flex;
        justify-content: space-around;
    }

    .nav-links li {
        padding: 0 0.5rem;
        font-size: 2vw;
    }

    .header-button {  
        width: 65px;
        height: 30px;
    }

    .header-signout-button {
        display: flex;
        justify-content: flex-end;
        align-self: end;
    }

    .nav-title {
        display: flex;
        justify-content: center;
    }

}