.create-account {
   color: white;
   font-size: 17px;
}

.create-account-container {
   padding-top: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.create-account-container a:hover {
   color: white;
}

.floating-label {
   -webkit-appearance: none !important;
}

.login-background {
   min-height: 100vh;
   margin: 0;
   background: linear-gradient(177.37deg, rgba(255, 255, 255, 0) 48.81%, rgba(255, 255, 255, 0.39) 91.37%), #1778BE;
   background-blend-mode: hard-light, normal, normal;
}

.login-error {
   margin: 0px 0px 10px 0px;
   line-height: 0;
   color: rgb(204, 44, 44);
}

.login-form-container {
   text-align: center;
   padding-top: 90px;
   justify-content: center;
   align-items: center;
}

.login-form-container label.login-active {
   transform: translateY(-25px);
   font-size: .9em;
   color: rgba(255, 255, 255, 0.37);
}

.login-input-padding {
   padding: 10px 0px;
   flex: 0 0 100%;
   max-width: 100%;
}

.label-login-color {
   color: white
}

.login-padding {
   padding-top: 90px;
}

.login-title {
   font-family: 'Gochi Hand';
   color: #FFFFFF;
   text-align: center;
   text-shadow: -1px 4px 4px black, 0 1px black, 1px 0 black, 0 -1px black;
}

.login-user-input {
   margin-bottom: 15px;
   padding: 0px 0px;
   background: none;
   border: none;
   border-bottom: 1px solid white;
   color: white;
   -webkit-appearance: none !important;
}

.sign-in-button {
   font-family: 'Gochi Hand';
   color: #FFFFFF;
   text-align: center;
   text-shadow: -1px 4px 4px black, 0 1px black, 1px 0 black, 0 -1px black;
   font-size: 25px;
   background: linear-gradient(178.26deg, rgba(255, 255, 255, 0) 50.39%, rgba(255, 255, 255, 0.34) 114.5%), #1778BE;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 5px;
   padding: 5px 65px;
   position: static;
   flex: 0 0 66.666667%;
}

.worm-image {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 110px
}

/****** MEDIA QUERIES *******/

@media (min-width: 0px) {
   .create-account {
      font-size: 17px;
   }

   .create-account-container {
      padding-top: 30px;
   }

   .create-button {
      font-size: 17px;
   }

   label.login-active {
      transform: translateY(-25px);
   }

   .login-error {
      margin: 0px 0px 10px 0px;
   }

   .login-form-container {
      padding-top: 42px;
   }

   .login-input-padding {
      padding: 10px 0px;
   }

   .login-padding {
      padding-top: 39px;
   }

   .login-title {
      font-size: 1.5rem;
   }

   .login-user-input {
      margin-bottom: 15px;
   }

   .sign-in-button {
      font-size: 25px;
      padding: 5px 65px;
   }

   .worm-image {
      width: 85px;
   }
}

@media (min-width: 576px) {
   .create-account {
      font-size: 17px;
   }

   .create-account-container {
      padding-top: 30px;
   }

   .create-button {
      font-size: 17px;
   }

   label.login-active {
      transform: translateY(-25px);
   }

   .login-error {
      margin: 0px 0px 10px 0px;
   }

   .login-form-container {
      padding-top: 90px;
   }

   .login-input-padding {
      padding: 10px 0px;
   }

   .login-padding {
      padding-top: 90px;
   }

   .login-title {
      font-size: 2.5rem;
   }

   .login-user-input {
      margin-bottom: 15px;
   }

   .sign-in-button {
      font-size: 25px;
      padding: 5px 65px;
   }

   .worm-image {
      width: 110px;
   }
}

@media (min-width: 768px) {
   .create-account {
      font-size: 17px;
   }

   .create-account-container {
      padding-top: 30px;
   }

   .create-button {
      font-size: 17px;
   }

   label.login-active {
      transform: translateY(-25px);
   }

   .login-error {
      margin: 0px 0px 10px 0px;
   }

   .login-form-container {
      padding-top: 90px;
   }

   .login-input-padding {
      padding: 16px 0px;
   }

   .login-padding {
      padding-top: 80px;
      padding-bottom: 46px;
   }

   .login-title {
      font-size: 2.5rem;
   }

   .login-user-input {
      margin-bottom: 15px;
      width: 25%;
   }

   .sign-in-button {
      font-size: 25px;
      width: 25%;
      flex: 0 0 21%;
   }

   .worm-image {
      width: 110px;
   }
}

@media (min-width: 992px) {
   .create-account {
      font-size: 17px;
   }

   .create-account-container {
      padding-top: 30px;
      padding-left: 1%;
   }

   .create-button {
      font-size: 17px;
   }

   label.login-active {
      transform: translateY(-25px);
   }

   .login-error {
      margin: 0px 0px 10px 0px;
   }

   .login-form-container {
      padding-top: 90px;
   }

   .login-input-padding {
      padding: 25px 0px;
   }

   .login-padding {
      padding-top: 80px;
      padding-bottom: 46px;
   }

   .login-title {
      font-size: 2.5rem;
   }

   .login-user-input {
      margin-bottom: 15px;
      width: 25%;
   }

   .sign-in-button {
      font-size: 25px;
      width: 25%;
      flex: 0 0 15%;
   }

   .worm-image {
      width: 110px;
   }
}

@media (min-width: 1200px) {
   .create-account {
      font-size: 17px;
   }

   .create-account-container {
      padding-top: 30px;
      padding-left: 0;
   }

   .create-button {
      font-size: 17px;
   }

   label.login-active {
      transform: translateY(-25px);
   }

   .login-error {
      margin: 0px 0px 10px 0px;
   }

   .login-form-container {
      padding-top: 90px;
   }

   .login-input-padding {
      padding: 25px 0px;
   }

   .login-padding {
      padding-top: 80px;
      padding-bottom: 46px;
   }

   .login-title {
      font-size: 2.5rem;
   }

   .login-user-input {
      margin-bottom: 15px;
      width: 25%;
   }

   .sign-in-button {
      font-size: 25px;
      width: 25%;
      flex: 0 0 15%;
   }

   .worm-image {
      width: 110px;
   }
}