.search-field {
    border-radius: 10px;
    border: 2px solid grey;
    height: 40px;
    padding: 0px 10px;
    width: 40%;
    font-size: 20px;
}

.search-field:focus {
    border: 2px solid #1778BE;
}

.search-results {
    list-style: none;
    padding-left: 0;
}

.search-result-modal {
    cursor: pointer;
    border: 2px solid #1778BE;
    border-radius: 10px;
    margin: 1%;
    padding: 1% 2%;
}

.search-body-cell {
    width: 20%;
}

.search-filter-container {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.search-filter-button {
    text-shadow: -1px 2px 2px black, 0 1px black, 1px 0 black, 0 -1px black;
    border-radius: 10px;
    background: linear-gradient(177.37deg, rgba(255, 255, 255, 0) 48.81%, rgba(255, 255, 255, 0.39) 91.37%), #1778BE; 
    font-family: 'Gochi Hand';
    color: #FFFFFF;
    border: 1px solid #1778BE;
    box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;
    font-size: 24px;
}

.reset-search-button {
    text-shadow: -1px 2px 2px black, 0 1px black, 1px 0 black, 0 -1px black;
    border-radius: 10px;
    background: linear-gradient(177.37deg, rgba(255, 255, 255, 0) 48.81%, rgba(255, 255, 255, 0.39) 91.37%), rgb(16, 133, 16);
    font-family: 'Gochi Hand';
    border: 1px solid rgb(16, 133, 16);
    box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 24px;
}

.search-results {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
    display: table;
    font-size: 20px;
    border: 1px solid rgb(33, 157, 247);
}

#search-results-header {
    display: table-header-group;
    background: #f1f1f1;
}

.search-results-head-cell {
    display: table-cell;
    text-align: justify;
    font-family: "Roboto", sans-serif;
    padding-left: .5em;
    padding-right: .5em;
}

.button-for-modal {
    display: inline-block;
}

#search-results-body {
    display: table-row-group;
}

.search-results-body-row {
    display: table-row;
}


.search-results-body-row-data {
    display: table-row;
    cursor: pointer;
}

.search-results-body-row-data:nth-child(odd){
    background-color: rgb(211, 211, 211);    
}

.search-results-body-row-data:nth-child(even){
    background-color: rgb(138, 206, 255);
}

.search-results-body-row-data:hover {
    background-color: #1778BE;
    color: #FFFFFF;
}

.search-results-body-cell {
    display: table-cell;
    padding-top: .25em;
    padding-bottom: .25em;
    padding-left: .25em;
    padding-right: .25em;
}

@media only screen and (max-width: 700px){

    .search-field {
        font-size: 16px;
    }
}

@media only screen and (max-width: 575.98px) {

    .search-field {
        width: 60%;
    }
    
    .search-results {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
    }

    .search-results-subject-data {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 75px;
    }
}

@media only screen and (max-width: 415px){

    .reset-search-button {
        font-size: 18px;
    }

    .search-filter-button {
        font-size: 18px;
    }
}

@media only screen and (max-width: 380px){
    
    .search-results {
        font-family: 'Roboto', sans-serif;
        font-size: 14.5px;
    }

    .search-field {
        width: 60%;
        font-size: 13px;
    }

    .search-filter-button {
        font-size: 17px;
    }

    .reset-search-button {
        font-size: 17px;
    } 

    .search-results-subject-data {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 75px;
    }

    .search-filter-container {
        margin: 1%;
    }
}

@media only screen and (max-width: 330px){
    .search-field {
        width: 59%;
    }

    .search-filter-button {
        font-size: 15px;
    }
    
    .reset-search-button {
        font-size: 15px;
    }
}

@media only screen and (max-width: 314px){
    .search-field {
        width: 96%;
        font-size: 16px;
    }
}
