.search-field {
    border-radius: 10px;
    border: 2px solid grey;
    height: 40px;
    padding: 0px 10px;
    margin-top: 1%;
    margin-left: 1%;
    width: 60%;
}

.search-field:focus {
    border: 2px solid #1778BE;
}

.search-results {
    list-style: none;
    padding-left: 0;
}

.search-result-modal {
    cursor: pointer;
    border: 2px solid #1778BE;
    border-radius: 10px;
    margin: 1%;
    padding: 1% 2%;
    display: flex;
}

.search-filter-button {
    text-shadow: -1px 2px 2px black, 0 1px black, 1px 0 black, 0 -1px black;
    border-radius: 10px;
    background: linear-gradient(177.37deg, rgba(255, 255, 255, 0) 48.81%, rgba(255, 255, 255, 0.39) 91.37%), #1778BE; 
    font-family: 'Gochi Hand';
    font-size: 1.5em;
    color: #FFFFFF;
    border: 1px solid #1778BE;
    box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;
}

#search-results {
    width: 75%;
    display: table;
    font-size: 1em;
}

#search-results-header {
    display: table-header-group;
    font-weight: bold;
}

.search-results-head-cell {
    display: table-cell;
    text-align: justify;
}

#search-results-body {
    display: table-row-group;
}

.search-results-body-row {
    display: table-row;
}

.search-results-body-cell {
    display: table-cell;
}